---
layout: default
---

<div class="home">

  <h2>Blog Posts</h2>

  <ul class="post-list">
    {% for post in site.categories.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <h2>How-tos and Guides</h2>

  <ul class="post-list">
    {% for guide in site.categories.guides %}
      <li>
        <h3>
          <a class="post-link" href="{{ guide.url | prepend: site.baseurl }}">{{ guide.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
