---
layout: default
---

<div class="home">

  <h1>Blog Posts</h1>

  <ul class="post-list">
    {% for post in site.categories.posts %}
      <li>
        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.last_update %}
            (Last updated: {{ post.last_update | date: "%b %-d, %Y" }})
          {% endif %}
        </span>

        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>

        {% if post.subheading %}
        <span class="post-subheading">
          - {{ post.subheading }}
        </span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
